# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code
.vscode/

# Packet captures
*.pcap

# Data
data/*.csv
data/*.json

# Models
models/*.pkl
models/*.joblib

# Jupyter
.ipynb_checkpoints/


